
* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family:Symbols Nerd Font Mono;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:2px;
   }

window#waybar {
    background:rgba (0, 0, 0, 0.5);
    border-radius: 20px 20px 20px 20px; 
}

#workspaces button {
    padding: 2px 0px;
    border-bottom: 2px;
    border-color: #bf023f;
    border-style: solid;
    border-radius: 10px;
    margin-top:2px;
}

#workspaces button.active {
    border-color: #FF007F;
}

#clock, #battery, #pulseaudio{
    padding: 0 3px;
    border-bottom: 2px;
    border-style: solid;
    border-radius: 10px;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
    color: #bf023f;
}

#battery {
    color: #bf023f;
}

#pulseaudio {
    color: #bf023f;
}

